@font-face {
    font-family: 'toms_new_romantom';
    src: url('toms_new_roman/tomnr-webfont.woff2') format('woff2'),
    url('toms_new_roman/tomnr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_cartoonist_handregular';
    src: url('sfcartoonisthand/sfcartoonisthand-webfont.woff2') format('woff2'),
         url('sfcartoonisthand/sfcartoonisthand-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h3, input, button {
    font-family: "sf_cartoonist_handregular", sans-serif;
    letter-spacing: 0.05em;
}

html, body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#gameGrid{
    display: flex;
    flex-wrap: wrap;
    width: 2560px;
    height: 2560px;
    overflow: hidden;
    background: magenta;
    position:relative;
}

#column{
    position: relative;
    display: flex;
    flex-direction: column;
}

#log{
    width: 400px;
    height: 100vh;
    padding: 0 1em;
    font-size: 14px;
    color: white;
    overflow-y: auto;
    box-sizing: border-box;
}

#log li:nth-child(2){
    opacity: 0.9;
}
#log li:nth-child(3){
    opacity: 0.7;
}
#log li:nth-child(4){
    opacity: 0.5;
}
#log li:nth-child(5){
    opacity: 0.3;
}
#log li:nth-child(6){
    opacity: 0.1;
}

#log li{
    padding: 3px 0 10px;
    font-size: 12px;
    list-style: none;
    text-indent: -10px;
}
#log li strong{
    display: inline-block;
    font-size: 14px;
    margin: 0 0 5px;
}

#turn-number{
    padding-left: 20px;
    white-space: nowrap;
}

#turn-number .turn-value{
    font-size: 30px;
}

#turn-number .tiny{
    font-size: 11px;
    color: #888;
}

#column .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.warning .move{
    animation-name: flash;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

@keyframes flash {
    0% { color: #FF0000; }
    100% { color: #ff8888; }
}

* {
    font-family: verdana;
}



@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}



@keyframes spinner {
    to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

#moves {
    padding: 1px;
}

#moves th{
    padding: 0.5em 0;
    text-align: left;
}

#moves .move {
    position: relative;
}

.spinner:before {
    content: '';
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 20px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    -webkit-animation: spinner .6s linear infinite;
    animation: spinner .6s linear infinite;
}

div.message-box{
    padding: 4px 14px;
    font-family: toms_new_romantom, verdana, sans-serif;
    box-sizing: border-box;
    max-width: 440px;
    position: absolute;
    z-index: 200;
    font-size: 32px;
    pointer-events: none;
    display: none;
}

#messageSystem{
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(32, 32, 32, 0.6);
    font-size: 16px;
    white-space: nowrap;
    user-select: none;
    pointer-events: none;
    display: block;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}
#messageSystem span{
    display: block;
    margin-top: 10px;
    font-family: toms_new_romantom, verdana, sans-serif;
    font-size: 10px;
}
#messageOther{
    top: 4px;
    left: 4px;
    background: rgba(255, 255, 0, 0.8);
    border: 1px solid rgba(32, 32, 0, 0.6);

}
#messageYou{
    right: 4px;
    bottom: 4px;
    background: rgba(0, 255, 0, 0.8);
    border: 1px solid rgba(0, 32, 0, 0.6);
}

#custom-emote-input{
    padding: 6px 10px;
    width: 100%;
    box-sizing: border-box;
}

#view-login {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#view-login .error {
    margin-bottom: 3em;
}

#view-players {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#view-players .header-row {
    position: relative;
    width: 60vw;
    padding: 0 3em 0 2em;
    box-sizing: border-box;
    top: 4em;
    font-weight: bold;
}

#list-of-players-container {
    width: 60vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    border: 6px solid #6C2A88;
    box-sizing: border-box;
    background: black;
    padding-top: 3em;
}

#list-of-players {
    display: flex;
    flex-direction: column;
    padding:  0 2em;
    box-sizing: border-box;
    overflow-y: auto;
    background: black;
}

#view-players .player-row {
    position: relative;
    display: flex;
    align-items: center;
    flex: 0 0 4em;

    color: white;
}
#view-players .player-row:not(.header-row):after {
    content: "";
    position: absolute;
    height: 1px;
    left: 4em;
    right: 4em;
    bottom: 0;
    background: #3b174b;
}
#view-players .player-row .actions{
    flex: 0 0 300px;
    text-align: right;
}
#view-players .player-row:not(.busy):not(.header-row):hover {
    background: #222;
}

#view-players .player-row .name{
    flex: 1;
    padding: 0 1em;
}

#view-players .player-row .completion{
    padding: 0 2em;
}

#view-players .player-row:not(.busy) .playing{
    display: none;
}

#view-players .player-row.busy {
    font-style: italic;
    opacity: 0.8;
}

#view-players .player-row:not(.inviting) .accept {
    cursor: not-allowed;
    opacity: 0.5;
    background: #6C2A88;
}

#view-players .player-row.busy .invite,
#view-players .player-row.busy .uninvite,
#view-players .player-row.busy .accept{
    display: none;
}

#view-players .player-row.invited .invite{
    display: none;
}
#view-players .player-row.inviting .invite{
    cursor: not-allowed;
    opacity: 0.5;
    background: #6C2A88;
}
#view-players .player-row:not(.invited) .uninvite{
    display: none;
}

h3 {
    color: white;
    font-size: 3em;
    margin-bottom: 0.5em;
}

input {
    border: 6px solid #6C2A88;
    background: black;
    color: #E7DD00;
    padding: 1em 2em;
    font-size: 1.5em;
    border-radius: 1em;
    margin-bottom: 1em;;
}

input:focus{
    outline: 6px solid #6F6A00;
}

button {
    display: inline-block;
    width: auto;

    background: #6C2A88;
    border-radius: 0.5em;
    border: none;
    color: white;
    font-size: 1.5em;
    padding: 0.5em 1em;
    cursor: pointer;
    font-weight: bold;

    font-variant: small-caps;
}

button:not(:disabled):hover {
    background: #8836ac;
}

input:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.error:empty {
    display: none;
}
.error {
    color: red;
}
#connection-lost {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    display: none;
}

#view-game {
    justify-content: center;
}

hr {
    border: none;
    height: 3px;
    background: #6C2A88;
    margin: 2em 0;
}

.muted {
    font-size: 10px;
    color: #CCC;
    vertical-align: middle;
    font-style: italic;
}

#version {
    text-align: right;
    position: absolute;
    right: 4px;
    bottom: 4px;
    color: white;
    font-family: monospace;
    font-size: 10px;
}

#version a {
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

#version a:hover {
    color: #DDD;
}

.info-box {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.75);
    align-items: center;
    justify-content: center;
}

.info-box hr {
    border: none;
    height: 3px;
    background: rgba(131, 126, 0, 1);
    margin: 2em 0;
}


.info-box > div {
    width: 80vw;
    height: 80vh;
    overflow-y: auto;
    background: rgba(61, 56, 0, 1);
    padding: 1em;
    box-sizing: border-box;
    border-radius: 20px;
    border: 5px solid rgba(131, 126, 0, 1);
    max-width: 800px;
    position: relative;
}

.info-box h3 {
    margin-top: 0;
    font-family: sans-serif;
    font-size: 30px;
}
.info-box h4 {
    margin-top: 0;
    font-family: sans-serif;
    font-size: 20px;
}
.info-box > * {
    color: white;
}
.close-info-box {
    position: absolute;
    bottom: 1vh;
    padding: 3vh 10vw;
    cursor: pointer;
}
.close-info-box:hover {
    text-decoration: underline;
}

#room-list h3 {
    position: absolute;
    top: 5vh;
}

#list-of-rooms-container {
    display: flex;
    flex-direction: column;
    border: 6px solid #6C2A88;
    box-sizing: border-box;
    background: black;
    padding-top: 3em;
}

#list-of-rooms {
    display: flex;
    flex-direction: column;
    padding:  0 2em;
    box-sizing: border-box;
    overflow-y: auto;
    background: black;
}

#list-of-rooms-container {
    overflow-y: hidden;
    max-width: 60vw;
}

#room-list .room-row {
    position: relative;
    display: flex;
    align-items: center;
    flex: 0 0 4em;
    padding: 0.5em 0;

    color: white;
}
#room-list .room-row:not(.header-row):after {
    content: "";
    position: absolute;
    height: 1px;
    left: 4em;
    right: 4em;
    bottom: 0;
    background: #3b174b;
}
#room-list .room-row:not(.header-row):hover {
    background: #222;
}

#room-list .room-row .name{
    flex: 1 0 30%;
    padding: 0 1em;
}

#room-list .room-row .author{
    flex: 1 0 20%;
    padding: 0 1em;
}

#room-list .room-row .actions{
    flex: 0 0 100px;
    text-align: right;
}

#room-list .room-row .status{
    flex: 0 0 160px;
    text-align: center;
}

#room-list .header-row {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 4em 0 3em;
    box-sizing: border-box;
    top: 1em;
    font-weight: bold;
}
#tile-info.info-box > div {
    height: 40vh;
}